<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="agentCode" value="03o9h8y58tsdv8kiowoo" />
    <add key="aquaServiceUrl" value="http://aqua-internal/aquaAPI/aquaAgentWebservice.asmx" />
    <add key="keepAliveSendingFrequencyMs" value="30000" />
    <add key="tempDirectory" value="temp" />
    <add key="maxGUILogEntries" value="30" />
    <add key="resumeExecutionOnStart" value="false" />
    <!-- the following key sets the window title of this agent, this is helpful when you run more than one agent on a single machine -->
    <add key="windowTitle" value="aqua PowerShell agent" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>